@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

/*font-family: 'Silkscreen', cursive;*/
:root {
    --dark-blue: #1F1F26;
    --grey-blue: #485F73;
    --light-grey-blue: #687E8C;
    --white: #fdfbfb;
    --black: #202020;

}


.NavBtn {
    padding: 0rem 2rem;
    background-color: var(--light-grey-blue);
    border: none;
}

ul {
    padding: 0rem;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.NavBar {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--dark-blue);
    padding: 1rem 6rem;
}

.NavList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    margin: 0;
}

.logo {
    width: 40px;
}

.NavMenu {
    display: flex;
}

.NavListContLeft {
    display: flex;
    column-gap: 4rem;
    width: 100%;
    justify-content: flex-start;
}

.NavText {
    font-family: 'Silkscreen', cursive;
    color: var(--white);
    font-size: 15pt;
}

.NavText:hover {
    text-decoration: underline;
}

.NavLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Aquí a el contenido de CSS de esta pestaña*/
.gameform {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background-color: var(--light-grey-blue);
    padding: 0 6rem;
}

.GameFormTop {
    display: flex;
    width: 100%;
    height: 50%;
}

.GameFormTopLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    row-gap: 3rem;
    color: var(--white);
}

.GameFormTopLeftDiv {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.GameTitle {
    font-family: 'Silkscreen', cursive;
    font-size: 30pt;
}

.GameSubTitle {
    font-family: 'Silkscreen', cursive;
}

.GameFormTopRight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;

}

.FirstForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1.3rem;
    color: var(--white);
    font-family: 'Silkscreen', cursive;
}

.FirstFormBottom {
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--white);
    font-family: 'Silkscreen', cursive;
}

.formBoxTop {
    width: 100%;
    height: 30px;
    background-color: var(--dark-blue);
    border: none;
    color: var(--white);
}

.formBoxBottom {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
    height: 26vh;
    background-color: var(--dark-blue);
    border: none;
    color: var(--white);
}

.GameFormBottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.FirstSummitBtn {
    font-family: 'Silkscreen', cursive;
    background-color: var(--white);
    border: none;
    width: 30%;
    height: 30px;
}

.FirstSummitBtn:hover {
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
}

.banner {
    padding: 2rem 6rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: var(--grey-blue);
}

.bannerLeft {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.bannerCenter {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.bannerRight {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}


.BannerText {
    font-family: 'Silkscreen', cursive;
    font-size: 16pt;
    text-align: center;
    color: var(--white);
}

.BannerBtn {
    height: 100%;
    width: 80%;
    border: none;
}

.BannerLink {
    text-decoration: none;
}

.BannerBtnText {
    font-family: 'Silkscreen', cursive;
    font-size: 16pt;
    color: var(--dark-blue);
}

.BannerBtnText:hover {
    text-decoration: underline;
}

.workform {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background-color: grey;
    padding: 0 6rem;
}

.workFormTop {
    display: flex;
    width: 100%;
    height: 50%;
}

.workFormTopLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    row-gap: 3rem;
    color: var(--white);
}

.workFormTopLeftDiv {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.GameTitle {
    font-family: 'Silkscreen', cursive;
    font-size: 30pt;
}

.GameworkSubTitle {
    font-family: 'Silkscreen', cursive;
}

.workFormTopRight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;

}

.SecondForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1.3rem;
    color: var(--white);
    font-family: 'Silkscreen', cursive;
}

.SecondFormBottom {
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--white);
    font-family: 'Silkscreen', cursive;
}

.formBoxTop {
    width: 100%;
    height: 30px;
    background-color: var(--dark-blue);
    border: none;
    color: var(--white);
}

.formBoxBottom {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
    height: 26vh;
    background-color: var(--dark-blue);
    border: none;
    color: var(--white);
}

.workFormBottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.FirstSummitBtn {
    font-family: 'Silkscreen', cursive;
    background-color: var(--white);
    border: none;
    width: 30%;
    height: 30px;
}

.FirstSummitBtn:hover {
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: var(--dark-blue);
    display: flex;
    padding: 0 6rem;
    justify-content: space-between;
    align-items: center;
}

.footerLeft {
    display: flex;
    width: 33%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.3rem;
}

.footerCenter {
    display: flex;
    width: 33%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.3rem;
}

.footerRight {
    display: flex;
    width: 33%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footerText {
    font-family: 'Silkscreen', cursive;
    color: var(--white);
    font-size: 14pt;
}

.footerText:hover {
    text-decoration: underline;
}
