@import url('https://fonts.googleapis.com/css2?family=VT32|3&display=swap');

:root {
    --dark-blue: #1F1F26;
    --grey-blue: #485F73;
    --light-grey-blue: #687E8C;
    --white: #fdfbfb;
    --black: #202020;
 
 }

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

/*font-family: 'Silkscreen', cursive;*/
:root {
    --dark-blue: #1F1F26;
    --grey-blue: #485F73;
    --light-grey-blue: #687E8C;
    --white: #fdfbfb;
    --black: #202020;

}


.NavBtn {
    padding: 0rem 2rem;
    background-color: var(--light-grey-blue);
    border: none;
}

ul {
    padding: 0rem;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.NavBar {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--dark-blue);
    padding: 1rem 6rem;
}

.NavList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    margin: 0;
}

.logo {
    width: 40px;
}

.NavMenu {
    display: flex;
}

.NavListContLeft {
    display: flex;
    column-gap: 4rem;
    width: 100%;
    justify-content: flex-start;
}

.NavText {
    font-family: 'Silkscreen', cursive;
    color: var(--white);
    font-size: 15pt;
}

.NavText:hover {
    text-decoration: underline;
}

.NavLink {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6D86A6;

}
header {
    width: auto;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
}
header .logo {
    font-size: 24px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #ddd;
}
.container1 {
    color: #FFFFFF ;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
    width: auto;
    height: 100vh;
}
.container h2 {
    font-size: 28px;
    margin-top: 0;
    align-items: center;
}
.container p {
    font-size: 18px;
}
.purchase-button {
    background-color: var(--light-grey-blue);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0px;
    cursor: pointer;
}
.trailer-button {
    background-color: var(--light-grey-blue);
    color: white;
    border: 2px solid black; /* Add "solid" for border style */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px; /* Don't forget to specify the radius value */
    cursor: pointer;
}
