@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

/*font-family: 'Silkscreen', cursive;*/
:root {
    --dark-blue: #1F1F26;
    --grey-blue: #485F73;
    --light-grey-blue: #687E8C;
    --white: #fdfbfb;
    --black: #202020;

}


.NavBtn {
    padding: 0rem 2rem;
    background-color: var(--light-grey-blue);
    border: none;
}

ul {
    padding: 0rem;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.NavBar {
    /*position: fixed;
    z-index: 1;*/
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--dark-blue);
    padding: 1rem 6rem;
}

.NavList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    margin: 0;
}

.logo {
    width: 50px;
}

.NavMenu {
    display: flex;
}

.NavListContLeft {
    display: flex;
    column-gap: 4rem;
    width: 100%;
    justify-content: flex-start;
}

.NavText {
    font-family: 'Silkscreen', cursive;
    color: var(--white);
    font-size: 15pt;
}

.NavText:hover {
    text-decoration: underline;
}

.NavLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navdivisor {
    display: flex;
    width: 100%;
    height: 80px;
}

/*Aquí a el contenido de CSS de esta pestaña*/
.title {
    width: 100%;
    height: 90vh;
    background-color: var(--grey-blue);
    padding: 0rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
    background-image: url(https://www.dropbox.com/scl/fi/140erofwt7ie2h8mcf3yt/fondo_story2.gif?rlkey=c75u9g30sdkr9eckq3q1sh8mm&raw=1);
    background-repeat: no-repeat;
    background-size: cover;
}

.Texto1 {
    font-family: 'Silkscreen', cursive;
    color: var(--white);
    font-size: 20pt;
}

.Texto2 {
    font-family: 'Silkscreen', cursive;
    color: var(--white);
    font-size: 60pt;
}

.Texto3 {
    display: flex;
    font-family: 'Silkscreen', cursive;
    color: var(--white);
    font-size: 20pt;
    justify-content: center;
    text-align: center;
    text-decoration-color: aqua;
}

.highlight {
    background-color: var(--dark-blue);
}

.heroDiv {
    width: 100%;
    height: 2rem;
}

.BotonTrailer {
    border: none;
    padding: 1rem;
    background-color: var(--light-grey-blue);
}

.HeroBtnText {
    font-family: 'Silkscreen', cursive;
    font-size: 16pt;
    color: var(--white);
}

.HeroBtnText:hover {
    text-decoration: underline;
}

.banner {
    padding: 2rem 6rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: var(--light-grey-blue);
}

.bannerLeft {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.bannerCenter {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.bannerRight {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}


.BannerText {
    font-family: 'Silkscreen', cursive;
    font-size: 16pt;
    text-align: center;
    color: var(--white);
}

.BannerBtn {
    height: 100%;
    width: 80%;
    border: none;
}

.BannerLink {
    text-decoration: none;
}

.BannerBtnText {
    font-family: 'Silkscreen', cursive;
    font-size: 16pt;
    color: var(--dark-blue);
}

.BannerBtnText:hover {
    text-decoration: underline;
}

.Story {
    display: flex;
    flex-direction: column;
    padding: 4rem 6rem;
    overflow: hidden;
    text-align: center;
    background-color: #79838A;
    width: 100%;
    align-items: center;
}

#box1 {
    display: flex;
    border: 1px solid;
    height: 90vh;
    width: 100%;
    margin: auto;
}

.textbox {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.lorembox {
    font-family: 'Silkscreen', cursive;
    font-size: 16pt;
    color: var(--white);
}

.banner2 {
    padding: 2rem 6rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: var(--light-grey-blue);
}

.bannerLeft2 {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    background-image: url(https://www.dropbox.com/scl/fi/aqpvqe7c9xx11ddzatwmn/album-5.jpg?rlkey=xvgqwk5ad75salbck91uu2ve8&raw=1);
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerCenter2 {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.bannerRight2 {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    background-image: url(https://www.dropbox.com/scl/fi/8y9r9sqa082bvtu0nsw95/album-6.jpg?rlkey=d09lu6y4wkk9a6uebv4jicqvr&raw=1);
    background-repeat: no-repeat;
    background-size: cover;
}


.BannerText2 {
    font-family: 'Silkscreen', cursive;
    font-size: 16pt;
    text-align: center;
    color: var(--white);
}

.BannerBtn2 {
    height: 100%;
    width: 80%;
    border: none;
}

.BannerLink2 {
    text-decoration: none;
}

.BannerBtnText2 {
    font-family: 'Silkscreen', cursive;
    font-size: 16pt;
    color: var(--dark-blue);
}

.BannerBtnText2:hover {
    text-decoration: underline;
}

.trailer {
    width: 100%;
    height: fit-content;
    background-color: var(--grey-blue);
    padding: 2rem 6rem 4rem 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.trailerTitle {
    font-family: 'Silkscreen', cursive;
    color: var(--white);
    font-size: 30pt;
    padding: 0 0 2rem 0;
}

.holatrailer {
    font-family: 'Silkscreen', cursive;
    color: var(--black);
    font-size: 40pt;
}

.box2 {
    background-color: aliceblue;
    display: flex;
    border: 1px solid;
    height: 600px;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: var(--dark-blue);
    display: flex;
    padding: 0 6rem;
    justify-content: space-between;
    align-items: center;
}

.footerLeft {
    display: flex;
    width: 33%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.3rem;
}

.footerCenter {
    display: flex;
    width: 33%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.3rem;
}

.footerRight {
    display: flex;
    width: 33%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footerText {
    font-family: 'Silkscreen', cursive;
    color: var(--white);
    font-size: 14pt;
}

.footerText:hover {
    text-decoration: underline;
}
